.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/las-login.jpg');
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maksymalna szerokość formularza */
    box-sizing: border-box; /* Uwzględnienie paddingu w szerokości */
  }
  
  .login-form div {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #2e3d2f; /* Ciemny kolor tekstu inspirowany lasem */
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Uwzględnienie paddingu w szerokości */
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3e5c3e; /* Kolor inspirowany lasem */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #2e3d2f; /* Ciemniejszy kolor przy najechaniu */
  }